/* ------ Reboot ------ */
html, body {
    font-family: 'Open Sans', sans-serif;
}

a { cursor: pointer; }

/* ------ Custom and Redefined Utilities ------ */
/* --- Slick Slider --- */
.slick-dots { 
    position: unset !important; 
    display: flex !important;
    justify-content: center;
    margin-top: 1rem !important;
}
.slick-dots li { 
    display: inline-flex !important; 
    margin: 0 !important;
}
/* .slick-slider .slick-arrow { display: none !important; } */

/* --- Shapes --- */
.square {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    width: 45px;
    height: 45px;
}

/* --- Divider --- */
.divider {
    width: 50px;
    margin: 0;
    border-top-width: 2px;
}

/* --- Color --- */
.bg-primary { background-color: #853c33 !important; }
.text-primary { color: #853c33 !important;; }

/* --- Width --- */
.w-40 { width: 40%; }

/* --- Position --- */
.top-0 { top: 0; }
.bottom-0 { bottom: 0; }
.right-0 { right: 0; }
.left-0 { left: 0; }
.top-50 { top: 50%; }
.left-50 { left: 50%; }

.x-1 { transform: translateX(1px);}
.x-2 { transform: translateX(2px);}

/* --- Space --- */
.py-6 { padding-top: 4.5rem; padding-bottom: 4.5rem; }

.m-min-1 { margin: -0.25rem; }
.my-min-1 { margin-top: -0.25rem; margin-bottom: -0.25rem; }
.mx-min-1 { margin-left: -0.25rem; margin-right: -0.25rem; }
.mt-min-1 { margin-top: -0.25rem; }
.mb-min-1 { margin-bottom: -0.25rem; }
.ml-min-1 { margin-left: -0.25rem; }
.mr-min-1 { margin-right: -0.25rem; }

.m-min-2 { margin: -0.5rem; }
.my-min-2 { margin-top: -0.5rem; margin-bottom: -0.5rem; }
.mx-min-2 { margin-left: -0.5rem; margin-right: -0.5rem; }
.mt-min-2 { margin-top: -0.5rem; }
.mb-min-2 { margin-bottom: -0.5rem; }
.ml-min-2 { margin-left: -0.5rem; }
.mr-min-2 { margin-right: -0.5rem; }

/* --- Border --- */
.border-primary { border-color: #853c33 !important; }
.border-white-transparent { border-color: rgba(255, 255, 255, 0.16) !important; }

/* --- Shadow --- */
.shadow-sm { box-shadow: 0 1px 3px rgba(8, 5, 5, 0.16) !important; }

/* --- Fit --- */
.fit-width { width: 100% !important; height: auto !important; }
.fit-height { height: 100% !important; width: auto !important; }

/* --- Typography --- */
.rufina { font-family: 'Merriweather', serif; }

.small, small { font-size: 14px; }
.medium { font-size: 16px; }

/* --- Form --- */
.btn {
    font-size: 14px;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-width: 0;
    border-radius: 0;
}

[class *= 'btn-outline'] { border-width: 2px; }

.btn-primary { background-color: #853c33; }
.btn-dark-transparent {
	color: #fff !important;
	background-color: rgba(17, 17, 17, 0.83);
}
.btn-dark-transparent:hover {
	background: #111;
}

/* ------ Navbar ------ */
#navbar .navbar-nav .nav-item .nav-link {
    position: relative;
    font-size: 14px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    
}

#navbar .navbar-nav .nav-item .nav-link::before {
    content: "";
    position: absolute;
    bottom: calc(-1rem + 4px);
    left: 0;
    background-color: transparent;
    height: 2px;
    width: 100%;
}

#navbar .navbar-nav .nav-item .nav-link.active::before {
    background-color: #853c33;
}

/* ------ Slider ------ */
#slider {
    height: calc(100vh - 61px);
}

#slider .slick-slider,
#slider .slick-slider .slick-list,
#slider .slick-slider .slick-list .slick-track,
#slider .slick-slider .slick-list .slick-track .slick-slide,
#slider .slick-slider .slick-list .slick-track .slick-slide > div {
    height: 100%;
}

#slider .slick-slider { position: unset; }

#slider .slick-slider .slick-prev.slick-disabled { left: -45px; }
#slider .slick-slider .slick-next.slick-disabled { right: -45px; }

#slider .slick-slider .slick-prev, 
#slider .slick-slider .slick-next {
	z-index: 1;
	transition: 0.25s;
}

#slider .slick-slider .slick-prev { left: 0; }
#slider .slick-slider .slick-next { right: 0; }

#slider .slick-slider .slick-prev, 
#slider .slick-slider .slick-next {
	font-size: initial;
	width: initial;
	height: initial;
}

#slider .slick-slider .slick-prev:before, 
#slider .slick-slider .slick-next:before { display: none; }

/* ------ Products ------- */
.products .products-body .products-item .item-image {
    height: 270px;
}

.products .products-body .slick-slider .slick-list {
	overflow: unset;
}

.products .slick-slider { position: unset; }

.products .slick-slider .slick-prev.slick-disabled { left: -45px; }
.products .slick-slider .slick-next.slick-disabled { right: -45px; }

.products .slick-slider .slick-prev, 
.products .slick-slider .slick-next {
	z-index: 1;
	top: calc(50% - 37px);
	transition: 0.25s;
}

.products .slick-slider .slick-prev { left: 0; }
.products .slick-slider .slick-next { right: 0; }

.products .slick-slider .slick-prev, 
.products .slick-slider .slick-next {
	font-size: initial;
	width: initial;
	height: initial;
}

.products .slick-slider .slick-prev:before, 
.products .slick-slider .slick-next:before { display: none; }

/* ------ Gallery ------- */
#gallery .gallery-body .gallery-item .item-image {
    height: 270px;
}

/* ------- Footer ------ */
/* --- Business Hours --- */
#footer .footer-business-hours ul li { padding: 0.25rem 0; }
#footer .footer-business-hours ul li .d-table-cell:first-child { width: 56px; }
#footer .footer-business-hours ul li:not(:last-child) { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

/* --- Navigation --- */
#footer .footer-nav ul li:not(:last-child) { border-bottom: 1px solid transparent; }
#footer .footer-nav ul li a {
    color: inherit;
    padding: 0.25rem 0;
}

/* --- Social Media --- */ 
#footer .footer-social-media ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 45px;
    height: 45px;
    margin: 0.25rem;
    padding: 0;
    border: 2px solid #fff;
}

#footer .footer-social-media ul li a:hover {
    background: #fff;
    color: #853c33;
}

/* --- Copyright --- */
#footer .footer-copyright a {
    color: inherit;
}

/* Common style */
figure {
	position: relative;
	float: left;
	overflow: hidden;
	background: #853c33;
	margin: 0;
	text-align: center;
	cursor: pointer;
}

figure img {
	position: relative;
	display: block;
	opacity: 1;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h2 span {
	font-weight: 800;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */
/*---------------*/
/***** Chico *****/
/*---------------*/
figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.16;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
	padding: 20% 0 20px 0;
}

figure.effect-chico p {
    position: absolute;
	margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
}

/* ------ Responsive ------ */
@media only screen and (max-width: 1080px) {
	h2, .h2 {
		font-size: 24px;
	}

	/* ------ Slider ------ */
	#slider {
		height: 250px;
	}

	/* ------ Gallery ------- */
	#gallery .gallery-body .gallery-item .item-image {
		height: 170px;
	}
}